///////////////////// RESPONSIVE SIZES FOR REFERENCE  \\\\\\\\\\\\\\\\\\\\\\\\\
// xs: 0
// sm: 576px
// md: 768px
// lg: 992px
// xl: 1200px
// @include media-breakpoint-up(sm) {}
// @include media-breakpoint-up(md) {}
// @include media-breakpoint-up(lg) {}
// @include media-breakpoint-up(xl) {}
//
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/grid";

///////////////////////// VARIABLE OVERRIDES  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
$body-bg: #fff;
$body-color: #999;

$color-tan: #998d63;
$color-light-tan: #ebe8e1;
$color-grey: #858585;
$primary-color: rgba(83, 83, 83, .9);

$body-font-size: 18px;
$body-line-height: 30px;

$h1-size: 64px;
$h2-size: 64px;
$h3-size: 43px;
$h4-size: 28px;
$h5-size: 18px;

$main-font: 'Nunito Sans',
sans-serif;

/////////////////////// CUSTOM MIXINS  \\\\\\\\\\\\\\\\\\\\\\\
@mixin easeOut {
    transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-backface-visibility: hidden;
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}


body {
    line-height: 30px;
    font-family: "Nunito Sans", sans-serif;
}

.navbar {
    padding: 0px;
    z-index: 1050;

    .navbar-brand {
        img {
            padding-top: 10px;
            padding-bottom: 10px;

            @include media-breakpoint-up(md) {
                padding-top: 11px;
                padding-bottom: 21px; // height: 83px;
            }

            @include media-breakpoint-up(lg) {
                padding-top: 10px;
                padding-bottom: 10px; // height: 83px;
            }
        }
    }

    .nav-phone {
        color: #fff;
        font-size: 24px;
        margin-left: 500px;

        @include media-breakpoint-down(lg) {
            margin-left: 0px;
            font-size: 18px;
        }

        @media (min-width: 1201px) {
            font-size: 24px;
            margin-left: 330px;
        }

        @media (min-width: 1380px) {
            margin-left: 500px;
        }
    }
}

.nav-link {
    display: inline;
    font-size: 18px;
}

.nav-item {
    display: inline-block;
}

.navbar-dark .navbar-toggler {
    border: none; // background-color: $color-tan;
    align-items: center;
    display: flex;
    border-radius: 0;
    color: #fff;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 24px;

    @include media-breakpoint-up(sm) {
        background-color: $color-tan;
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.large-navbar-toggler {

    transition: all .5s;

    @include media-breakpoint-up(sm) {
        height: 100px;
    }
}

.small-navbar-toggler {
    height: 60px;
    transition: all .5s;
}

.large-dcd-nav-logo {
    transition: all .5s;

    @include media-breakpoint-up(sm) {
        height: 83px;
    }
}

.small-dcd-nav-logo {
    height: 50px;
    transition: all .5s;
}

.large-dark-navbar {
    background-color: rgba(83, 83, 83, 0.50);
}

.small-dark-navbar {
    background-color: rgba(83, 83, 83, 0);

    @include media-breakpoint-up(sm) {
        background-color: rgba(83, 83, 83, 1);
    }
}


// ------------------ HAMBURGER MENU ------------------------------------
.hamburger {
    float: right;
    z-index: 5;
    position: relative;

    @include media-breakpoint-up(md) {
        padding-left: 15px;
    }

    .line {
        width: 33px;
        height: 3px;
        background-color: #ecf0f1;
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        @include media-breakpoint-up(md) {
            height: 3px;
        }
    }

    &:hover {
        cursor: pointer;
    }
}


#hamburger-1 {
    &.is-active {
        .line {
            &:nth-child(1) {
                -webkit-transform: translateY(11px) rotate(135deg);
                -ms-transform: translateY(11px) rotate(135deg);
                -o-transform: translateY(11px) rotate(135deg);
                transform: translateY(11px) rotate(135deg);

                @include media-breakpoint-up(md) {
                    -webkit-transform: translateY(11px) rotate(135deg);
                    -ms-transform: translateY(11px) rotate(135deg);
                    -o-transform: translateY(11px) rotate(135deg);
                    transform: translateY(11px) rotate(135deg);
                }
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                -webkit-transform: translateY(-11px) rotate(-135deg);
                -ms-transform: translateY(-11px) rotate(-135deg);
                -o-transform: translateY(-11px) rotate(-135deg);
                transform: translateY(-11px) rotate(-135deg);

                @include media-breakpoint-up(md) {
                    -webkit-transform: translateY(-11px) rotate(-135deg);
                    -ms-transform: translateY(-11px) rotate(-135deg);
                    -o-transform: translateY(-11px) rotate(-135deg);
                    transform: translateY(-11px) rotate(-135deg);
                }
            }
        }
    }
}





// sidenav
// .sidenav {
//     height: 100%;
//     width: 0;
//     position: fixed;
//     z-index: 1040;
//     top: 0;
//     left: 0;
//     background-color: #111;
//     overflow-x: hidden;
//     transition: 0.5s;
//     padding-top: 60px;
//     text-align: center;
// }
// .sidenav a {
//     padding: 8px 8px 8px 32px;
//     text-decoration: none;
//     font-size: 25px;
//     color: #818181;
//     display: block;
//     transition: 0.3s;
// }
// .sidenav a:hover {
//     color: #f1f1f1;
// }
// .sidenav .closebtn {
//     position: absolute;
//     top: 0;
//     right: 25px;
//     font-size: 36px;
//     margin-left: 50px;
// }
// @media screen and (max-height: 450px) {
//     .sidenav {
//         padding-top: 15px;
//     }
//     .sidenav a {
//         font-size: 18px;
//     }
// }
// OVERLAY
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 99;

    @include media-breakpoint-down(md) {
        height: 100%;
    }

    &--active {
        visibility: visible;
        z-index: 10;
    }

    &__brand,
    &__list {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &__list {
        margin: 0;
        padding: 0 15px;
        padding-bottom: 7rem;
        background: mix(black, $primary-color, 20);
        list-style-type: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;

        &--active {
            transform: translate3d(0, 0, 0);
        }
    }

    &__list2 {
        list-style-type: none;
        margin-bottom: 7rem;
        padding-left: 0px;

        @include media-breakpoint-up(sm) {
            margin-bottom: 15rem;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 7rem;
        }
    }

    &__brand {
        background: $primary-color;
        @include easeOut;
        transform: translate3d(0, 100%, 0);

        &--active {
            transform: translate3d(0, 0, 0);
        }

        @include media-breakpoint-down(sm) {
            background: rgba(64, 64, 64, .92);
        }
    }

    &__item {
        transform: translate3d(500px, 0, 0);
        text-align: center;
        @include easeOut;

        &--active {
            transform: translate3d(0, 0, 0);
        }
    }

    &__link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        padding: 8px 0;
        font-weight: 300;
        color: white;
        text-decoration: none;
        color: white;
        -webkit-backface-visibility: hidden;
        @include easeOut;

        &:hover {
            text-decoration: none;
            color: #fff;
            -webkit-backface-visibility: hidden;

            &:before {
                width: 100%;
            }
        }

        @include media-breakpoint-up(sm) {
            font-size: 20px;
            padding: 15px 0;
        }

        @include media-breakpoint-up(md) {
            font-size: 30px;
        }
    }

    &__address {
        line-height: 30px;

        @include media-breakpoint-up(md) {
            font-size: 20px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 25px;
        }
    }

    // add delay to each menu item
    @for $x from 1 through 6 {
        .menu__item:nth-child(#{$x}) {
            transition-delay: $x * .1s;
        }
    }

    a span:before {
        top: 0px;
    }

    .dropdown-toggle::after {}

    .dropdown-menu {
        background-color: initial;
        border: none;
        width: 100%;
        top: 100% !important;
        transform: initial !important;
        left: -8px !important;

        @include media-breakpoint-up(md) {
            // top: -31px!important;
            //   left: 138px!important;
        }

        &.show {}

        .dropdown-item {
            color: #fff;
            text-align: center;

            &:hover {
                background-color: initial;
                color: #fff;
            }
        }
    }
}

// responsive tablet view
@include tablet {

    ul.menu__list,
    div.menu__brand {
        float: none;
        width: 100%;
        min-height: 0;

        &--active {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu__list {
        // height: 75vh;
        height: 0px;
        transform: translate3d(-100%, 0, 0);
    }

    .menu__link {
        font-size: 24px;
    }

    .menu__brand {
        // height: 25vh;
        height: 100%;
        transform: translate3d(100%, 0, 0);

        .logo {
            width: 90px;
            height: 90px;
        }
    }
}


.hideLogo {
    display: none;
}




////////////////////////////////// BUTTONS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
a {
    background-image: linear-gradient(180deg, transparent 0, #fff 0);
    transition: background-position .1s ease-out;
    background-position: 0 19px;
    background-repeat: no-repeat;
    box-shadow: none;
    padding: 0;

    &:hover {
        outline: 0;
        color: #232526;
        background-image: linear-gradient(180deg, transparent 0, rgba(255, 255, 255, .7) 0);
        background-position: 0 0;
    }

    &.btn {
        background-color: $color-tan;
        color: #fff;
        -webkit-box-shadow: 22px 22px 0px 0px rgba(240, 240, 240, 1);
        -moz-box-shadow: 22px 22px 0px 0px rgba(240, 240, 240, 1);
        box-shadow: 22px 22px 0px 0px rgba(240, 240, 240, 1);
        border-radius: 0px;
        font-size: 24px;
        padding: 21px;

        @include media-breakpoint-down(md) {
            display: block;
        }

        @include media-breakpoint-up(md) {
            width: 310px;
        }
    }
}


// BACK TO TOP button
button.back-to-top {
    margin: 0 !important;
    padding: 0 !important;
    background: #fff;
    height: 0px;
    width: 0px;
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: transparent;
    clear: both;
    visibility: hidden;
    position: fixed;
    cursor: pointer;
    display: block;
    border: none; // right: 90px;
    // bottom: 100px;
    right: 50px;
    bottom: 50px;
    font-size: 0px;
    outline: 0 !important;
    z-index: 99;
    transition: all .3s ease-in-out;

    @include media-breakpoint-up(sm) {
        right: 50px;
        bottom: 50px;
    }

    @include media-breakpoint-up(md) {

        right: 50px;
        bottom: 50px;
    }

    @include media-breakpoint-up(lg) {

        right: 90px;
        bottom: 100px;
    }
}

button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus,
    {
    outline: 0 !important;
}

button.back-to-top::before {
    content: "\f077";
    font-family: "FontAwesome";
    display: block;
    vertical-align: middle;
    margin: -5px 0 auto;
    transition: all .3s ease-in-out;
}

button.back-to-top:hover::before {
    margin-top: -20px;
    text-shadow: 0px 8px 8px rgba(163, 163, 163, 0.6);
}


button.back-to-top.show {
    display: block;
    background: #fff;
    color: $color-tan;
    font-size: 25px;
    right: 60px;
    bottom: 60px;
    height: 60px;
    width: 60px;
    visibility: visible;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25); // @include xs-only {
    right: 30px;
    bottom: 30px;
    height: 50px;
    width: 50px; // }

    @include media-breakpoint-up(md) {

        right: 30px;
        bottom: 30px;
        height: 60px;
        width: 60px;
    }

    @include media-breakpoint-up(lg) {

        right: 60px;
        bottom: 60px;
    }
}

button.back-to-top.show:active {
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}



// waves effect on click
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    .waves-ripple {
        position: absolute;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-top: -50px;
        margin-left: -50px;
        opacity: 0;
        background: rgba(0, 0, 0, 0.2);
        background: -webkit-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
        background: -o-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
        background: -moz-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
        background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        -o-transition-property: -o-transform, opacity;
        transition-property: transform, opacity;
        -webkit-transform: scale(0) translate(0, 0);
        -moz-transform: scale(0) translate(0, 0);
        -ms-transform: scale(0) translate(0, 0);
        -o-transform: scale(0) translate(0, 0);
        transform: scale(0) translate(0, 0);
        pointer-events: none;
    }
}


.waves-effect.waves-light .waves-ripple {
    background: rgba(255, 255, 255, 0.4);
    background: -webkit-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -o-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -moz-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}

.waves-effect.waves-classic .waves-ripple {
    background: rgba(0, 0, 0, 0.2);
}

.waves-effect.waves-classic.waves-light .waves-ripple {
    background: rgba(255, 255, 255, 0.4);
}

.waves-notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.waves-button,
.waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: none;
    color: inherit;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}

.waves-button {
    padding: 0.85em 1.1em;
    border-radius: 0.2em;
}

.waves-button-input {
    margin: 0;
    padding: 0.85em 1.1em;
}

.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}

.waves-input-wrapper.waves-button {
    padding: 0;
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
}

.waves-float {
    -webkit-mask-image: none;
    -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 0.5s;

    &:hover {
        -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
    }
}


.waves-block {
    display: block;
}







// Animated Navigation link arrows
a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

a span:before {
    font-family: FontAwesome;
    content: '\f054';
    position: absolute;
    opacity: 0;
    top: 8px;
    left: -20px;
    transition: 0.5s;
    font-size: 14px;
    -webkit-backface-visibility: hidden;
}

a:hover span {
    padding-left: 25px;
    -webkit-backface-visibility: hidden;
}

a:hover span:before {
    opacity: 1;
    left: 0;
    -webkit-backface-visibility: hidden;
}



#homepage {
    .front-page-box {
        background-color: $color-tan;
        padding-top: 30px;
        padding-bottom: 30px;

        width: 100%;

        @include media-breakpoint-up(sm) {
            padding-right: 30px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        @include media-breakpoint-up(lg) {
            width: 875px;
        }

        h4,
        h5 {
            text-align: center;
        }

        a {
            border-bottom: 1px solid #877c57;
            transition: all .5s;
            color: #fff;

            &:hover {
                padding: 0px 20px;
                text-decoration: none;
                background-color: #877c57;
            }

            span {
                &:before {
                    top: 4px !important;
                }
            }

            .fa {
                font-size: 16px;
            }
        }
    }

    .pupil {
        color: #fff;
        position: absolute;
        font-size: 30px;
        line-height: 36px;
        top: 330px;
        right: 0;
        left: 0;

        @include media-breakpoint-up(sm) {
            width: 140px;
            height: 170px;
            // background-color: #332a2f;
            position: absolute;
            left: 200px;
            right: 0;
            top: 0;
            bottom: 175px;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            overflow: auto;
            border-radius: 50%;
            transform: rotateY(15deg);
            -webkit-box-shadow: inset 0px 0px 99px 13px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: inset 0px 0px 99px 13px rgba(0, 0, 0, 0.75);
            box-shadow: inset 0px 0px 99px 13px rgba(0, 0, 0, 0.75);
            // background: url('images/img-noise-361x370.png');
            // background=#332a2fff&noise=626262&density=41&opacity=52
        }
    }

    .pupil-reflection {
        background-color: #fff;
        width: 102px;
        height: 92px;
        position: absolute;
        left: 208px;
        right: 0;
        top: 0;
        bottom: 338px;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        border-radius: 50%;
        transform: skewY(16deg);
    }

    .iris {
        width: 420px;
        height: 420px;
        position: absolute;
        left: 208px;
        right: 0;
        top: 0;
        bottom: 123px;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        border-radius: 50%;
        -webkit-box-shadow: inset 0px 0px 99px 13px rgba(170, 112, 75, 0.75);
        -moz-box-shadow: inset 0px 0px 99px 13px rgba(170, 112, 75, 0.75);
        box-shadow: inset 0px 0px 99px 13px rgba(170, 112, 75, 0.75);


        -webkit-box-shadow: inset 0px 0px 99px 13px rgba(111, 67, 70, 0.70);
        -moz-box-shadow: inset 0px 0px 99px 13px rgba(111, 67, 70, 0.70);
        box-shadow: inset 0px 0px 99px 13px rgba(111, 67, 70, 0.75);
    }

    .inner-iris {
        width: 380px;
        height: 380px;
        position: absolute;
        left: 208px;
        right: 0;
        top: 0;
        bottom: 123px;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        border-radius: 50%;
        -webkit-box-shadow: inset 0px 0px 99px 13px rgba(170, 112, 75, 0.75);
        -moz-box-shadow: inset 0px 0px 99px 13px rgba(170, 112, 75, 0.75);
        box-shadow: inset 0px 0px 99px 13px rgba(170, 112, 75, 0.75);
    }


    .eyeball {
        width: 380px;
        height: 380px;
        position: absolute;
        left: 208px;
        right: 0;
        top: 0;
        bottom: 123px;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        transform: rotate(-55deg);
    }

    .eyewhite {
        width: 811px;
        height: 462px;
        background-color: rgba(255, 255, 255, .5);
        position: absolute;
        right: 548px;
        top: 201px;
        border-radius: 113% 3% 92% 38%/102% 8% 121% 24%;
        // border: 3px solid #000;
        transform: rotate(-160deg);

        width: 883px;
        height: 477px;
        background-color: rgba(255, 255, 255, .5);
        position: absolute;
        right: 475px;
        top: 188px;
        border-radius: 121% 3% 92% 38%/102% 8% 121% 24%;
        transform: rotate(-160deg);

    }

    .skin1 {
        background-color: rgba(212, 172, 160, 0.5);
        width: 2000px;
        height: 675px;
        position: absolute;
        left: -603px;
        top: -204px;
        transform: rotate(-31deg);
    }

    .skin2 {
        background-color: rgba(212, 172, 160, 0.5);
        width: 2000px;
        height: 675px;
        position: absolute;
        left: 0px;
        bottom: -391px;
        transform: rotate(-167deg);
        border-bottom-left-radius: -50%;
        border-bottom-right-radius: -50%;
    }

    header {
        background-color: rgba(212, 172, 160, 0.5);
    }
}





// ############################################################################
//
//
//                              EYEBALL
//
//
// ############################################################################
.raindrop0 {
    position: absolute;
    top: 64%;
    left: 0;
    width: 100%;
    height: 50%;
    border-radius: 100%;
    background: transparent -moz-radial-gradient(50% 50%, ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 105, 149, 0.4) 37%, rgba(80, 80, 80, 0.1) 47%, rgba(80, 80, 80, 0) 58%);
    background: transparent -webkit-radial-gradient(50% 50%, ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 105, 149, 0.4) 37%, rgba(80, 80, 80, 0.1) 47%, rgba(80, 80, 80, 0) 58%);
    background: transparent radial-gradient(ellipse, rgba(0, 0, 0, 0) 0%, rgba(0, 105, 149, 0.4) 37%, rgba(80, 80, 80, 0.1) 47%, rgba(80, 80, 80, 0) 58%);
}

.raindrop1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-top-left-radius: 0;
    background: transparent -moz-radial-gradient(20% 20%, #fff 22%, rgba(255, 255, 255, 0.2) 30%, rgba(74, 193, 186, 0.5) 45%, rgba(0, 168, 243, 0.7) 65%, #fff 100%);
    background: transparent -webkit-radial-gradient(20% 20%, #fff 22%, rgba(255, 255, 255, 0.2) 30%, rgba(74, 193, 186, 0.5) 45%, rgba(0, 168, 243, 0.7) 65%, #fff 100%);
    background: transparent radial-gradient(at 20% 20%, #fff 22%, rgba(255, 255, 255, 0.2) 30%, rgba(74, 193, 186, 0.5) 45%, rgba(0, 168, 243, 0.7) 65%, #fff 100%);
}

.raindrop2 {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    border-radius: 100%;
    border-top-left-radius: 0;
    background: transparent -moz-radial-gradient(30% 55%, circle cover, rgba(0, 105, 149, 0) 70%, rgba(0, 105, 149, 0.8) 80%);
    background: transparent -webkit-radial-gradient(30% 55%, circle cover, rgba(0, 105, 149, 0) 70%, rgba(0, 105, 149, 0.8) 80%);
    background: transparent radial-gradient(circle farthest-corner at 30% 55%, rgba(0, 105, 149, 0) 70%, rgba(0, 105, 149, 0.8) 80%);
}

.raindrop3 {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    border-radius: 100%;
    border-top-left-radius: 0;
    background: transparent -moz-radial-gradient(50% 10%, ellipse cover, rgba(0, 105, 149, 0) 73%, rgba(0, 105, 149, 0.3) 80%);
    background: transparent -webkit-radial-gradient(50% 10%, ellipse cover, rgba(0, 105, 149, 0) 73%, rgba(0, 105, 149, 0.3) 80%);
    background: transparent radial-gradient(ellipse farthest-corner at 50% 10%, rgba(0, 105, 149, 0) 73%, rgba(0, 105, 149, 0.3) 80%);
}

.raindrop4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-top-left-radius: 0;
    box-shadow: inset rgba(124, 197, 238, 0.8) 0 0 32px;
}

.raindrop5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-top-left-radius: 0;
    background: transparent -moz-radial-gradient(30% 30%, ellipse cover, rgba(0, 105, 149, 0) 50%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.6) 90%);
    background: transparent -webkit-radial-gradient(30% 30%, ellipse cover, rgba(0, 105, 149, 0) 50%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.6) 90%);
    background: transparent radial-gradient(ellipse farthest-corner at 30% 30%, rgba(0, 105, 149, 0) 50%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.6) 90%);
}

.raindrop6 {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 80%;
    height: 60%;
    transform: matrix(1, -0.5, 0, 1, 0, 0);
    background: transparent -moz-radial-gradient(73% 73%, ellipse farthest-corner, rgba(145, 240, 234, 0.8) 6%, rgba(145, 240, 234, 0.1) 25%, rgba(145, 240, 234, 0) 30%);
    background: transparent -webkit-radial-gradient(73% 73%, ellipse farthest-corner, rgba(145, 240, 234, 0.8) 6%, rgba(145, 240, 234, 0.1) 25%, rgba(145, 240, 234, 0) 30%);
    background: transparent radial-gradient(ellipse farthest-corner at 73% 73%, rgba(145, 240, 234, 0.8) 6%, rgba(145, 240, 234, 0.1) 25%, rgba(145, 240, 234, 0) 30%);
}

.raindrop7 {
    position: absolute;
    top: 45%;
    left: 20%;
    width: 75%;
    height: 55%;
    transform: matrix(1, -0.5, 0, 1, 0, 0);
    background: transparent -moz-radial-gradient(73% 73%, ellipse farthest-corner, #fff 6%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 30%);
    background: transparent -webkit-radial-gradient(73% 73%, ellipse farthest-corner, #fff 6%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 30%);
    background: transparent radial-gradient(ellipse farthest-corner at 73% 73%, #fff 6%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 30%);
}

.raindrop8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-top-left-radius: 0;
    box-shadow: inset rgba(191, 235, 255, 0.8) 0 0 12px;


}












#content-page {

    .content-header {
        height: 300px;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 58% 160%;
        // background-image: url('/images/dallas-skyline.jpg');
        border-bottom: 1px solid black;
        position: relative;

        h1 {
            position: absolute;
            bottom: 34px;
            color: #fff;
            text-shadow: 1px 1px #000;
            font-size: $h1-size;
        }
    }

    h2 {
        font-size: ($h2-size / 1.5);
    }

    // .overlay {
    //     position: absolute;
    //     min-height: 100%;
    //     min-width: 100%;
    //     left: 0;
    //     top: 0;
    //     background: rgba(244, 244, 244, 0.79);
    // }
}
